{% extends "base.html" %}
{% block title %}
  Анфиса для друзей. Мороженое классический пломбир
{% endblock %}
{% block content %}
  <h1>Подробное описание мороженого</h1>
  <h3>{{ ice_cream.title }}</h3>
  <h1 class="pb-2 mb-0">Классический пломбир</h1>  
        <div class="row mt-3">
          <div class="col-12 col-md-6">
            <h2>Описание</h2>
            <p>Настоящее мороженое, для истинных ценителей вкуса. Если на столе появляется пломбир — это не надолго.</p>      
          </div> 
          <div class="col-12 col-md-6 mb-3">
            <!-- Картинку берём из статики -->
            <img 
              class="img-fluid" 
              height="400" width="300"
              src="img/image-holder.png"
              >      
          </div>
        </div>
  <p>{{ ice_cream.description }}</p>
{% endblock %}
 