{% extends "base.html" %}
{% block title %}
  Лента записей
{% endblock %}
{% block content %}
  <h1 class="mb-5">Лента записей</h1>
  {% for post in posts %}
    <article class="mb-5">
      <ul>
        <li>
          Заголовок: {{ post.title }}
        </li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' post.category.slug %}">{{ post.category.title }}</a>
        </li>
        {% if post.location %}
          <li>
            Местоположение: {{ post.location.name }}
          </li>
        {% endif %}
        <li>
          Дата публикации: {{ post.pub_date }}
        </li>
      </ul>
      <p>{{ post.text|truncatechars:200 }}</p>
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
    </article>
  {% endfor %}
{% endblock %}
